<html>
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'navbar.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <header>
      {% section 'navbar' %}
    </header>
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    <footer>This is footer</footer>
  </body>
</html>
